body{
    background-color:black;
    height: 100vh;
    text-decoration-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
h1{
    text-align: center;
    font-size: 35px;
    text-decoration: solid;
    color: whitesmoke;

}
span{
    color: gold;
}
.user{
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem; 
    border-radius: 5px;  
    margin: right 50%;; 
    line-height: 23px;
    text-align: center;
    float:right ;
    
}

.input-group{
    padding-top: 3%;
    padding-right: 50%;
    padding-bottom:3% ;
    position: relative;
   

}
.flex-container{
    display: contents;
}
.flex-child{
    flex: auto;
    border: 2px;
    margin-right:100px;
    flex-grow: 4;
    text-align: center;
    
}
#search{
    border-radius:15px;
    position: static;
    margin-right:50% ;
    left: 20%;
    width: 50%;
    border-radius: 15px;
    margin-bottom: 23px;
    font-size: larger;
}
form{
    border-radius: 15px;
    margin-bottom: 23px;
}

.btn-outline-primary{
    color: gold;
    background-color: black;
    width: 30%;
    font-size: large;
    padding: 15px 15px;
    display: inline-block;
    margin-right:32px ;
}   
.myUl{
    float: right;
    color: white;
}

