body{
    background-color:whitesmoke;
}
h1{
    text-align: center;

}
span{
    color: rgb(255, 205, 6);
}
.user {
    background-color: gray;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    display: block;
    
}
